[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-security"]
	path = meta-security
	url = git://git.yoctoproject.org/meta-security.git
[submodule "meta-wandboard"]
	path = meta-wandboard
	url = git://github.com/jumpnow/meta-wandboard
[submodule "meta-swupdate"]
	path = meta-swupdate
	url = https://github.com/sbabic/meta-swupdate.git
[submodule "meta-jumpnow"]
	path = meta-jumpnow
	url = https://github.com/jumpnow/meta-jumpnow.git
[submodule "meta-evoarm"]
	path = meta-evoarm
	url = git@github.com:jeremy-prater/meta-evoarm.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = dunfell
[submodule "meta-darksky"]
	path = meta-darksky
	url = git@github.com:jeremy-prater/meta-darksky.git
[submodule "meta-cloud-services"]
	path = meta-cloud-services
	url = git://git.yoctoproject.org/meta-cloud-services
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
