# Make sure udev detects the winstar display as a touch screen!

ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="222a", ENV{ID_MODEL_ID}=="0001", ENV{ID_INPUT_TOUCHSCREEN}="1", ENV{ID_INPUT_TABLET}=""